<h1>Hi, you logged in!</h1>

<div class="row">
  <div class="col-md-6">
    <h5 class="mt-2 text-wrap-example alert alert-info">User: <%= current_user.email %></h5>
  </div>
  <div class="col-md-6">
    <h5 class="mt-2 text-wrap-example alert alert-info">Your role: <%= current_user.role %></h5>
  </div>
</div>

<main class="home_main">
    <div class="row">
      <%= link_to 'Orders (WaitStaff)' , tickets_path, class: 'col btn btn-success m-1 p-3' %>
    </div>
    <div class="row">
      <%= link_to 'Kitchen (Chef)' , order_foods_path, class: 'col btn btn-primary m-1 p-3' %>
      <% # link_to 'Historial de Pedidos' , inactive_tickets_path, class: 'col btn btn-primary m-1 p-3' %>
    </div>
    <div class="row">
      <%= link_to 'Dishes (Chef)' , foods_path, class: 'col btn btn-secondary m-1 p-3' %>
    </div>
    <div class="row mb-5">
      <%= link_to 'Employees (Admin)' , admin_users_path, class: 'col btn btn-primary m-1 p-3' %>
    </div>
</main>

<% # These lines were commented because it was only part of the school project requirements to show the password hash. %>
<% # <h5 class="mt-2 text-wrap-example alert alert-info">Password Hash: <%= current_user.encrypted_password </h5> %>
<% # <h6 class="mt-2 text-wrap-example alert alert-info">(AES-256-GCM Encryption Method)</h6> %>
