<%= form_with(model: food, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label "Name", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Quantity (gr or ml)", class: 'form-label' %>
    <%= form.number_field :quantity, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label "Price", class: 'form-label' %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="field form-group mb-3">
    <%= form.label "Type", class: 'form-label' %>
    <%= form.select :food_type, ["Main dish", "Drink", "Dessert"], {}, class: 'form-select'  %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary my-3' %>
  </div>
<% end %>
