<p id="notice"><%= notice %></p>

<div class="m-5">

  <ul class="nav mb-3">
    <li class="nav-item">
      <%= link_to 'Back', root_path, class:"btn btn-dark" %>
    </li>
  </ul>
  <h1 class="my-5">Dishes / Drinks / Desserts</h1>
  <%= link_to 'Add a new Dish / Drink / Dessert', new_food_path, class: "btn btn-success mb-3" %>

  <div class="table1">
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Tipo</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @foods.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <% if food.food_type == "Beverage"%>
                <td><%= food.quantity %> ml</td>
              <% else %>
                <td><%= food.quantity %> g</td>
              <% end %>
              <td>$<%= food.price %></td>
              <td><%= food.food_type %></td>
              <% # Edit and Destroy buttons %>
              <td><%= link_to 'Edit', edit_food_path(food), class: "btn btn-info" %></td>

              <td><%= button_to 'Delete', food, method: :delete, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

  <br>

</div>
