<!DOCTYPE html>
<html>
  <head>
    <title>Dellymoon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'custom.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid custom_margin">
        <a href="/"><%= image_tag("foo-corp_logo_white.png", size: "90x84", alt: "Edit Entry") %></a>
        <a href="/"><h1 class="nav_h1">Dellymoon</h1></a>
        <% if user_signed_in? %>
          <%= button_to "Salir", destroy_user_session_path, method: :delete, class: 'me-3 btn btn-danger'  %>
        <% else %>
          <%= link_to 'V 1.0.1' , root_path, class: 'btn btn-primary disabled me-3' %>
        <% end %>
      </div>
    </nav>
    <% if notice || alert %>
      <div class='mb-3 mx-3'>
        <% if notice %>
          <p class="notice alert alert-info" role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger" role="alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>
    <div class='container yield_container'>
      <%= yield %>
    </div>
  </body>
</html>
